.logo{
    width: 35px;
    height: 40px;
}

nav{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.nav-div{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link{
    font-weight: 600;
    font-size: larger;
}

.nav-item-side{
    font-weight: 400;
    font-size: medium;
}

body{
    padding-bottom: 30px;
    background: linear-gradient(to right, #FFCBCB, #5BBCFF);
    background-size: 200% auto;
    animation: gradientAnimation 10s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.form-floating{
    padding-bottom: 1.5rem;
}

.form-signin{
    width: 500px;
}

.nav-link{
    font-weight: 400;
}